.body {
  background: url("../../assets/Designer.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
}

.wrapper {
  background: hsla(0, 0%, 0%, 0.263);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 300px;
  text-align: center;
  position: relative;
}

.wrapper form {
  height: 80%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  width: 250px;
  justify-content: center;
}

.wrapper h1 {
  font-size: 40px;
  margin-top: 10px;
}

input {
  font-size: 22px;
  border: none;
  height: 45px;
  border-radius: 8px;
  text-align: center;
  width: 100%; /* Ensure the input takes the full width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#submit {
  width: 150px;
  cursor: pointer;
  background: linear-gradient(to right, #00000097, #000000bf);
  color: #fff;
}

.sec {
  display: flex;
  gap: 3px;
  font-size: 22px;
}

.sec p {
  color: #ffffffc1;
}

.sec a {
  text-decoration: none;
  color: rgb(0, 255, 0);
}

.sec a:hover {
  text-decoration: underline;
}

.error {
  color: white;
}

.loader {
  width: 1px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 50%;
  border: 5px solid #fdfdfd;
  animation: l18 1s infinite linear;
}

@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.password-container {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 0;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}
.submitbutt {
  width: 100px;
}
