.hi {
  /* background-color: rgb(232, 232, 232); */
  /* height: 70px; */
  background-color: rgb(232, 232, 232);
}

.logo {
  width: 36px;
}

.logoo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-name {
  margin-top: 7px;
}
.h3{
  color: black;
}
h1{
  color: black;
}
@media only screen and (max-width: 600px) {
  .hi {
    background-color:  rgb(232, 232, 232);
  }
  .h3{
    color:black;
  }
  h1{
    color: black;
  }
}